<h1 style="text-align: center;">Routing Example</h1>

<nav>
  <ul>
    <li>Forms Component: <a routerLink="/home-component" routerLinkActive="active" ariaCurrentWhenActive="page"> Click here</a>
    </li>
    <li>First Component: <a routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page"> Click here</a>
    </li>
    <li>Second Component: <a routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page"> Click here</a></li>
  </ul>
</nav>
<router-outlet></router-outlet> 